*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
}

.container {
  width: 40%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-width: 450px;
  padding: 35px 45px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: linear-gradient(135deg, #8052ec, #d161ff);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);

  border-radius: 20px;
}

#newtask {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input {
  width: 70%;
  height: auto;
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  border: 2.5px solid #8052ec;
  padding: 0.75rem;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  transition: all 0.25s;
}

#newtask input:focus {
  outline: none;
  border: 2.5px dashed #8052ec75;
}

#newtask button {
  position: relative;
  float: right;
  width: 20%;
  height: auto;
  padding: 0.75rem;
  border-radius: 5px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #8052ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s;
  border: 2.5px solid #8052ec;
}

#newtask button:hover {
  background: none;
  border: 3px solid #8052ec75;
  color: #8052ec;
}

#tasks {
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: relative;
}

.task {
  background-color: #ffffff;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d1d3d4;
}

.task span {
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;

}

.task button {
  background-color: #8052ec;
  color: #ffffff;
  height: 100%;
  width: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 30px;
}